<p style="color: green"><%= notice %></p>

<h1>Thoughts</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <%= render idea %>
    <p>
      <%= link_to "Show this idea, please", idea %>
    </p>
  <% end %>
</div>

<%= link_to "New great ideas", new_idea_path %>
